.header {
    width: 100%;
    margin: auto;
    background-image: url("../imgs/henry-be-IicyiaPYGGI-unsplash.jpg");
    background-size: contain;
    background-repeat: repeat;
    margin-bottom: 5em;
}

.header h1 {
    color: rgb(255, 255, 255);
    font-size: 6em;
    text-align: center;
    font-weight: 500;
    text-align: center;
    font-family: impact;
    text-shadow: 5px 5px 10px green;
}

.header h2 {
    color: rgb(255, 255, 255);
    font-size: 4em;
    text-align: center;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
    font-family: impact;
    text-shadow: 5px 5px 10px green;
}

.products {
    background-image: url("../imgs/jannis-brandt-mmsQUgMLqUo-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: black;
    width: 80%;
    margin: auto;
    margin-bottom: 5em;
}

.products p {
    font-size: 5em;
    font-family: impact;
    text-shadow: 5px 5px 10px rgb(4, 248, 244);
}

.products td {
    width: 50%;
    padding: 2em;
}

.products img {
    width: 100%;
}

.footer {
    background-image: url("../imgs/instagram\ si\ fondo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 35%;
    height: 3em;
    line-height: 3em;
    background-color: rgb(175, 87, 0);
    font-size: 2em;
    font-style: italic;
    text-align: center;
    font-weight: 900;
}